body{
    text-align: center;
}
#start{
    color: white;
    border: none;
    background-color: rgb(5, 165, 5);
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

#reset{
    color: white;
    border: none;
    background-color: red;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

#display{
    font-size:40px;
    font-weight: bold;
}